<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page_title }} &ndash; josedevezas.com</title>

  <link rel="stylesheet" href="../css/spectre.min.css">
  <link rel="stylesheet" href="../css/layout.css">
</head>

<body>
  <div id="main">
    <header class="navbar">
      <section class="navbar-section">
        <a href="#" class="navbar-brand mr-2">José Devezas</a>
        <a href="#" class="btn btn-link">Home</a>
        <a href="#" class="btn btn-link">Publications</a>
        <a href="#" class="btn btn-link">Slides</a>
        <a href="#" class="btn btn-link">Posters</a>
        <a href="#" class="btn btn-link">Projects</a>
        <a href="#" class="btn btn-link">About</a>
      </section>

      <section class="navbar-right">
        <a href="https://github.com/jldevezas/" class="btn btn-link" target="_blank">GitHub</a>
      </section>
    </header>

    <main>
      <h1>{{ page_title }}</h1>

      {{ content }}
    </main>

    <footer>
      Copyright &copy; 2021 José Devezas
    </footer>
  </div>
</body>

</html>