<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page_title }} &ndash; josedevezas.com</title>

  <link rel="stylesheet" href="../css/spectre.min.css">
  <link rel="stylesheet" href="../css/layout.css">
</head>

<body>
  <div class="container grid-lg">

    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">José Devezas</a>
        <a href="#" class="btn btn-link">About</a>
        <a href="/academy" class="btn btn-link">Academy</a>
        <a href="#" class="btn btn-link">Blog</a>
        <a href="#" class="btn btn-link">Contact</a>
      </section>

      <section class="navbar-right">
        <a href="https://github.com/jldevezas/" class="btn btn-link" target="_blank">GitHub</a>
        <a href="https://twitter.com/jldevezas/" class="btn btn-link" target="_blank">Twitter</a>
        <a href="http://pt.linkedin.com/in/jldevezas" class="btn btn-link" target="_blank">LinkedIn</a>
      </section>
    </header>

    <main class="columns">
      <div class="column col-2">
        <ul class="nav">
          <li class="nav-item">
            <a href="#">Elements</a>
          </li>
          <li class="nav-item active">
            <a href="#">Layout</a>
            <ul class="nav">
              <li class="nav-item">
                <a href="#">Flexbox grid</a>
              </li>
              <li class="nav-item">
                <a href="#">Responsive</a>
              </li>
              <li class="nav-item">
                <a href="#">Navbar</a>
              </li>
              <li class="nav-item">
                <a href="#">Empty states</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#">Components</a>
          </li>
          <li class="nav-item">
            <a href="#">Utilities</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h1>{{ page_title }}</h1>

        {{ content }}
      </div>
    </main>

    <footer>
      &copy; 2021 José Devezas
    </footer>
  </div>
  </div>
</body>

</html>