<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page_title }} &ndash; josedevezas.com</title>

    <link rel="stylesheet" href="spectre.min.css">
    <link rel="stylesheet" href="spectre-exp.min.css">
    <link rel="stylesheet" href="spectre-icons.min.css">
</head>

<body>
    <h1>{{ page_title }}</h1>

    {{ content }}
</body>

</html>