.slides a {
  text-decoration: none;
}

.slides {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  width: 250px;
  height: 140.45px;
  border-radius: 8px;
  vertical-align: middle;
}

.slides.top {
  align-items: baseline;
}

.poster a {
  text-decoration: none;
}

.poster {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  width: 350px;
  border-radius: 8px;
  vertical-align: middle;
}

.publication {
  text-align: justify;
  margin-left: 1.25em;
  text-indent: -1.25em;
  margin-bottom: 1em;
}

.publication a {
  text-decoration: none;
}

.publication:hover a {
  text-decoration: underline;
}