aside {
  position: fixed;
  left: 10%;
  top: 20%;
}

p {
  text-align: justify;
}

img {
  border: solid 15px var(--accent);
  padding: 15px;
}

.slides a {
  text-decoration: none;
}

.slides img {
  border: none;
  padding: 0;
}

.slides {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  width: 250px;
  height: 140.45px;
  border-radius: 8px;
  vertical-align: middle;
}

.slides.top {
  align-items: baseline;
}

.poster a {
  text-decoration: none;
}

.poster img {
  border: none;
  padding: 0;
}

.poster {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  width: 350px;
  border-radius: 8px;
  vertical-align: middle;
}

.publication {
  text-align: justify;
  margin-left: 1.25em;
  text-indent: -1.25em;
  margin-bottom: 1em;
}

.publication a {
  text-decoration: none;
}

.publication:hover a {
  text-decoration: underline;
}

.tinted {
  position: relative;
  display: inline-block;
  clip-path: circle(50%);
}

.tinted img {
  border: none;
  padding: 0;
  filter: grayscale(100%);
}

.tinted .tint {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: var(--accent);
  z-index: 1000;
}