<div class="row">
	<div class="col-md-3">
		<div class="sidebar-nav hidden-print spy-target">
			<ul class="nav nav-pills nav-stacked">
				<li> <a href="#overview" scroll-to="overview">Overview</a> </li>
				<li> <a href="#affiliation" scroll-to="affiliation">Affiliation</a> </li>
				<li> <a href="#publications" scroll-to="publications">Publications</a> </li>
				<li> <a href="#presentations" scroll-to="presentations">Presentations</a> </li>
				<li> <a href="#projects" scroll-to="projects">Projects</a> </li>
			</ul>
		</div>
	</div>


	<div class="col-md-9">
		<section>
			<h1 id="overview">Overview</h1><hr/>

			<p>I have been working at <a href="http://infolab.fe.up.pt/" target="_blank">FEUP InfoLab</a> since 2015, always focusing on entity-oriented search. I began this chapter by working as a researcher on the <a href="http://ant.fe.up.pt">ANT</a> search engine. I then became a <a href="https://mapi.map.edu.pt/">MAP-i</a> PhD student, where I am working towards my thesis on "Graph-Based Entity-Oriented Search". My doctoral work consists of exploring the viability of graphs and hypergraphs as a joint representation for text and knowledge and as a way to generalize entity-oriented search tasks.</p>

			<p>I have also done research for nearly two years in <a href="http://labs.sapo.pt" target="_blank">Laboratório SAPO/U.Porto</a>, at the <a href="http://www.fe.up.pt" target="_blank">Faculty of Engineering of the University of Porto</a>. I've worked across many areas, but my main focus has always been network science. I'm deeply interested in the relationships between real world entities and their grouping behavior.</p>

			<p>I have also worked for a year in <a href="http://cracs.fc.up.pt" target="_blank">CRACS</a>/<a href="http://www.inesctec.pt/" target="_blank">INESC TEC</a>, at the <a href="http://www.fc.up.pt" target="_blank">Faculty of Sciences of the University of Porto</a>, pursuing a similar line of work, in the context of the <a href="http://breadcrumbs.up.pt/index.php?option=com_content&amp;view=article&amp;id=2&amp;Itemid=2" target="_blank">Breadcrumbs Project</a>, a computational journalism platform that takes advantage of social networking behavior to organize news fragments. In addition to community detection and data visualization, I was also able to devote some time to and develop skills in the areas of machine learning and data mining.</p>

			<h2>Information Retrieval</h2>
			<p>A lot of my work has been done on an information retrieval environment, where I focused on the link analysis task. I've participated in <a href="http://trec.nist.gov/pubs/trec19/t19.proceedings.html" target="_blank">TREC 2010 Blog Track</a>, experimenting with the h-index as a query independent feature for the blog distillation task, a metric typically used to measure the impact of a scientist's work. Continuously working with blog networks and other semantic-rich networks has brought to my attention the importance of working on better methodologies for the study of this kind of heterogeneous networks.</p>

			<h2>Network Science</h2>
			<p>I devoted a couple of years to the study of community detection methodologies and the analysis of groups induced by social behavior in different types of data (e.g. networks of people, places, tags, documents, etc.). This is a subject I have begun exploring with my Master's thesis, where I studied the link ecosystem of the portuguese blogosphere. I have always been very interested in understanding human relationships and using networks and their community structure to solve problems in different areas. I have used community detection to organize documents, for disambiguation in a <em>who's who</em> situation, to integrate multidimensional information, or as enablers for topic detection through clustering of similar documents.</p>

			<h2>Machine Learning</h2>
			<p>I have done some research in the area of machine learning, having a general understanding of classification with training, but mainly focusing on topic models, frequently working with methodologies such as Latent Dirichlet Allocation. I have also experimented with alternate topic modeling techniques based on networks of words and community detection.</p>

			<h2>Data Visualization</h2>
			<p>After working with so much data, I felt a strong interest in creating rich visualizations, so I've worked for six months on real-time data summarization and visualization. I had the chance to face the problems that a high flow data stream presents, both in storage and visualization. With this knowledge I built a prototype for Laboratório SAPO, codename Ciclope, where I used SAPO Blogs clickstream to create a group of chart and tree visualizations that would allow an author to monitor the traffic flow of his or her blog. I have also developed two visualization systems capable of displaying a multidimensional network of news clips, with relationships based on the coreference of entities of different types, and defining three dimensions corresponding to three of the five-Ws of journalism: <em>who</em>, <em>where</em> and <em>when</em>. This is available in the form of two widgets in the user dashboard of the Breadcrumbs system.</p>
		</section>

		<section>
			<h1 id="affiliation">Affiliation</h1><hr/>

			<div class="image-header">
				<img id="feup-logo" src="img/FEUP-logo.png" alt="FEUP Logo"/>
			</div>

			<p class="lead">2003-2011, 2012-2013, 2015-Present</p>
			<p><img id="feup-photo" class="pull-right photo" src="img/FEUP.jpg" alt="FEUP Facilities"/>
			I have worked at the <a href="http://www.fe.up.pt" target="_blank">Faculty of Engineering of the University of Porto</a>, as an external researcher for <a href="http://labs.sapo.pt" target="_blank">Laboratório SAPO/U.Porto</a>, during a one year period, from June 2010 to June 2011. I got my MSc in Informatics and Computing Engineering from this same institution, where I was accepted as a PhD candidate for <a href="https://www.fe.up.pt/si_uk/CURSOS_GERAL.FORMVIEW?P_CUR_SIGLA=PRODEI" target="_blank">ProDEI</a>, the Doctoral Program in Informatics Engineering, but unfortunately had to drop out for lack of funding.</p>

			<p>The Faculty of Engineering, and more specifically the Department of Informatics Engineering, is increasingly investing in research, having inaugurated new labs and improved existing ones during these last few years. A great effort has been put into the people of this institution, giving them the conditions, the motivation and the guidance necessary to pursue their research interests, in an attempt to positively contribute to the international engineering and scientific community.</p>

			<p>I then returned to Laboratório SAPO/U.Porto in order to pursuit new research goals in the area of music retrieval and recommendation, while attempting to maintain a relationship with the Department of Computer Science at the Faculty of Sciences, through <a href="http://sigarra.up.pt/fcup/pt/cur_geral.cur_view?pv_ano_lectivo=2012&amp;pv_origem=CUR&amp;pv_tipo_cur_sigla=D&amp;pv_curso_id=1021" target="_blank">PDCC</a>, the Doctoral Program in Computer Science.</p>

      <p>For a brief period, I worked in the industry, as a software engineer and data scientist, but have recently come back to the Department of Informatics Engineering, to work as a researcher on entity-oriented search at <a href="http://infolab.fe.up.pt/" target="_blank">FEUP InfoLab</a>.</p>

			<h2>Faculdade de Ciências da Universidade do Porto</h2>

			<p class="lead">2011-2012</p>

			<p><img id="fcup-photo" class="pull-left photo" src="img/FCUP.jpg" alt="FCUP Facilities"/>
			I have worked on the Breadcrumbs project, at the <a href="http://cracs.fc.up.pt" target="_blank">Center for Research in Advanced Computing Systems</a>, an associate unit of <a href="http://www.inesctec.pt/ip-en/about-us/inesc-porto-la" target="_blank">INESC TEC</a>, that operates at the <a href="http://www.fc.up.pt" target="_blank">Faculty of Sciences of the University of Porto</a>.</p>

			<p>The Faculty of Science has a privileged location, surrounded by activity and covered in a wide range of tree species, nurtured by the presence of the <a href="http://jardimbotanico.up.pt" target="_blank">Botanical Garden</a>, one of the most beautiful green areas of the city of Porto, and an attraction for the students of plant biology and landscape architecture.</p>

			<div class="clearfix"></div>
		</section>


		<section>
			<h1 id="publications">Publications</h1><hr/>

			<h2>Journals</h2>

			<table class="bibliography">
				<tr>
					<td> <a href="publications/devezas-hypergraph_of_entity-ocs_2019.pdf" target="_blank">
							<img src="img/pdf.png" /></a> </td>
					<td>
						<p class="ref">Devezas, J., and S. Nunes (2019). Hypergraph-of-entity: A unified representation model for the retrieval of text and knowledge. In <em>Open Computer Science (Topical Issue on Intelligent Methods for Textual Information Retrieval)</em>, 9(1), pp.103-127.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="https://ercim-news.ercim.eu/en111/special/graph-based-entity-oriented-search-imitating-the-human-process-of-seeking-and-cross-referencing-information" target="_blank">
							<img src="img/link.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., and S. Nunes (2017). Graph-Based Entity-Oriented Search: Imitating the Human Process of Seeking and Cross Referencing Information. In <em>ERCIM News (Special Theme: Digital Humanities)</em>, 111(October 2017), pp.14-15.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-multidimensional_community_detection-ijwbc_2012.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., and Á. Figueira (2013). The Community Structure of a Multidimensional Network of News Clips. In <em>International Journal of Web Based Communities (Special Issue: Community Structure in Complex Networks)</em>, 9(3), pp.411-429.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-language_independent_contextual_supernodes-iaeng_ijcs_2012.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., and Á. Figueira (2012). Finding Language-Independent Contextual Supernodes on Coreference Networks. In <em>IAENG International Journal of Computer Science</em>, 39(2), pp.200-207.</p>
					</td>
				</tr>
			</table>

			<h2>Conference Proceedings</h2>

			<table class="bibliography">
				<tr>
					<td> <a href="publications/devezas-army_ant_a_workbench_for_innovation_in_entity_oriented_search-ecir_2020.pdf"
							target="_blank">
							<img src="img/pdf.png" /></a> </td>
					<td>
						<p class="ref">Devezas, J., and S. Nunes (2020). Army ANT: A Workbench for Innovation in
							Entity-Oriented Search. In <em>Advances in Information Retrieval - 42nd European Conference
							on IR Research, ECIR 2020, Lisbon, Portugal, April 14-17, 2020, Proceedings, Part II</em>,
							Lisbon, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-graph_based_entity_oriented_search_a_unified_framework_in_information_retrieval-ecir_2020.pdf" target="_blank"><img src="img/pdf.png" /></a> </td>
					<td>
						<p class="ref">Devezas, J. (2020). Graph-Based Entity-Oriented Search: A Unified Framework in
							Information Retrieval. In <em>Advances in Information Retrieval - 42nd European Conference
							on IR Research, ECIR 2020, Lisbon, Portugal, April 14-17, 2020, Proceedings, Part II</em>,
							Lisbon, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-characterizing_the_hypergraph_of_entity_representation_model-cn_2019.pdf" target="_blank"><img src="img/pdf.png" /></a>
					</td>
					<td>
						<p class="ref">Devezas, J., and S. Nunes (2019). Characterizing the Hypergraph-of-Entity
							Representation Model. In <em>Proceedings of the 8th International Conference on
							Complex Networks and their Applications (Complex Networks 2019)</em>, Lisbon, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-graph_of_entity-slate_2019.pdf" target="_blank"><img
								src="img/pdf.png" /></a> </td>
					<td>
						<p class="ref">Devezas, J., C. Lopes, and S. Nunes (2019). Graph-of-Entity: A Model for
							Combined Data Representation and Retrieval. In <em>Proceedings of the 8th Symposium on
							Languages, Applications and Technologies (SLATE 2019)</em>, Coimbra, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas_guillen-feup_common_core_track-trec_2018.pdf" target="_blank"><img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., A. Guillén, Y. Gutiérrez, R. Muñoz, and S. Nunes (2018). FEUP at
							TREC 2018 Common Core Track: Reranking for Diversity using Hypergraph-of-Entity and
							Document Profiling. In <em>The Twenty-Seventh Text REtrieval Conference Proceedings
							(TREC 2018)</em>, Gaithersburg, MD, USA.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-social_media_and_information_consumption_diversity-newsir_2018.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J. and S. Nunes (2018). Social Media and Information Consumption
							Diversity. In <em>Proceedings of the Second International Workshop on Recent Trends in News
							Information Retrieval (NewsIR 2018), co-located with the 40th European Conference on
							Information Retrieval (ECIR 2018)</em>, Grenoble, France.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-feup_opensearch_track-trec_2017.pdf" target="_blank"><img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., C. T. Lopes, and S. Nunes (2017). FEUP at TREC 2017 OpenSearch
							Track: Graph-Based Models for Entity-Oriented. In <em>The Twenty-Sixth Text REtrieval
							Conference Proceedings (TREC 2017)</em>, Gaithersburg, MD, USA.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-information_extraction_for_event_ranking-slate_2017.pdf" target="_blank"><img src="img/pdf.png"/></a> </td>
					<td>
            			<p class="ref">Devezas, J. and S. Nunes (2017). Information Extraction for Event Ranking. In
							<em>Proceedings of the 6th Symposium on Languages, Applications and Technologies
							(SLATE 2017)</em>, Vila do Conde, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-index_based_semantic_tagging_for_efficient_query_interpretation-clef_2016.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
            			<p class="ref">Devezas, J. and S. Nunes (2016). Index-Based Semantic Tagging for Efficient
							Query Interpretation. In <em>Proceedings of the 6th International Conference of the CLEF
							Initiative (CLEF 2016)</em>, Évora, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-exploring_a_large_news_collection_using_visualization_tools-newsir_2016.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, T., J. Devezas, and S. Nunes (2016). Exploring a Large News Collection
							Using Visualization Tools. In <em>Proceedings of the First International Workshop on Recent
							Trends in News Information Retrieval (NewsIR 2016), co-located with the 38th European
							Conference on Information Retrieval (ECIR 2016)</em>, Padua, Italy.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/coelho-cross_media_retrieval_playlist_generation_song_discovery-oair_2013.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Coelho, F., J. Devezas, and C. Ribeiro (2013). Large-scale Crossmedia Retrieval
							for Playlist Generation and Song Discovery. In <em>Proceedings of the 10th International
							Conference in the RIAO Series (OAIR 2013)</em>, Lisbon, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/gomes-temporal_visualization_multidimensional_network_news_clips-world_cist_2013.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Gomes, F., J. Devezas, and Á. Figueira (2013). Temporal Visualization of a
							Multidimensional Network of News Clips. In <em>Proceedings of the 2013 World Conference on
							Information Systems and Technologies (WorldCIST 2013)</em>, Algarve, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-news_clips_network_visualization-kdir_2012.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., and Á. Figueira (2012). Interactive Visualization of a News Clips
							Network: A Journalistic Research and Knowledge Discovery Tool. In <em>Proceedings of the
							4th International Conference on Knowledge Discovery and Information Retrieval
							(KDIR 2012)</em>, Barcelona, Spain.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/cravino-overlapping_communities_tags_text_clustering-ht_2012.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Cravino, N., J. Devezas, and Á. Figueira (2012). Using the Overlapping Community
							Structure of a Network of Tags to Improve Text Clustering. In <em>Proceedings of the 23rd
							ACM Conference on Hypertext and Social Media (HT 2012)</em>, Milwaukee, WI, USA.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-news_context_folksonomy_web_clipping-icdma_2012.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., H. Alves, and Á. Figueira (2012). Creating News Context From a
							Folksonomy of Web Clipping. In <em>Lecture Notes in Engineering and Computer Science:
							Proceedings of The International MultiConference of Engineers and Computer Scientists 2012
							(IMECS 2012)</em>, Hong Kong.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-studying_personality_coreference_network-ecir_2012.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., F. Coelho, S. Nunes, and C. Ribeiro (2012). Studying a Personality
							Coreference Network in a News Stories Photo Collection In <em>Lecture Notes in Computer
							Science: Proceedings of the 34th European Conference on Information Retrieval
							(ECIR 2012)</em>, Barcelona, Spain.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-using_hindex_estimate_blog_authority-icwsm_2011.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., S. Nunes, and C. Ribeiro (2011). Using the H-index to Estimate Blog
							Authority. In <em>Proceedings of the Fifth International AAAI Conference on Weblogs and
							Social Media (ICWSM 2011)</em>, Barcelona, Spain.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-feup_blog_track-trec_2010.pdf" target="_blank"><img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., S. Nunes, and C. Ribeiro (2010). FEUP at TREC 2010 Blog Track:
							Using h-index for blog ranking. In <em>The Nineteenth Text REtrieval Conference Proceedings
							(TREC 2010)</em>, Gaithersburg, MD, USA.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-blog_features_over_link_popularity-soma_2010.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., C. Ribeiro, and S. Nunes (2010). Studying Blog Features over Link
							Popularity. In <em>Proceedings of the First Workshop on Social Media Analytics (SOMA 2010),
							held in conjunction with the 16th ACM SIGKDD International Conference on Knowledge Discovery
							and Data Minining (KDD 2010)</em>, Washington, DC, USA.</p>
					</td>
				</tr>
			</table>

			<h2>Master's Thesis</h2>

			<table class="bibliography">
				<tr>
					<td> <a href="publications/devezas-link_ecosystem_of_the_portuguese_blogosphere-masters_thesis.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J. (2010). <em>Link Ecosystem of the Portuguese Blogosphere</em>. Master's Thesis, Faculdade de Engenharia da Universidade do Porto, Porto, Portugal.</p>
					</td>
				</tr>
			</table>

			<h2>Book Chapters</h2>

			<table class="bibliography">
				<tr>
					<td> <a href="publications/figueira-social_network_news_clips-IGI2013-chapter5_draft.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Figueira, Á., J. Devezas, N. Cravino, and L. Francisco-Revilla (2013). Creating and Analysing a Social Network Built from Clips of Online News. In <em>Information Systems and Technology for Organizations in a Networked Society</em>, pp.67-86.</p>
					</td>
				</tr>
			</table>

			<h2>Demos</h2>

			<table class="bibliography">
				<tr>
					<td> <a href="publications/coelho-juggle_large_scale_discovery_music_recommendation-oair_2013.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Coelho, F., J. Devezas, and C. Ribeiro (2013). Juggle: Large-scale Discovery in Music Recommendation. In <em>Proceedings of the 10th International Conference in the RIAO Series (OAIR 2013)</em>, Lisbon, Portugal.</p>
					</td>
				</tr>
			</table>


			<h2>Technical Reports</h2>

			<table class="bibliography">
				<tr>
					<td> <a href="https://hdl.handle.net/10216/110181" target="_blank">
							<img src="img/link.png" /></a> </td>
					<td>
						<p class="ref">Devezas, J. (2017). <em>Army ANT: A Workbench for Innovation in Entity-Oriented Search</em>,
							MAP-i Course Report, Faculdade de Engenharia da Universidade do Porto, Porto, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <a href=" https://hdl.handle.net/10216/104152" target="_blank">
							<img src="img/link.png" /></a> </td>
					<td>
						<p class="ref">Devezas, J. (2017). <em>Auditing Open Access Repositories</em>,
							MAP-i Course Report, Faculdade de Engenharia da Universidade do Porto, Porto, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> <div style="width: 25px"></div> </td>
					<td>
						<p class="ref">Devezas, J. (2011). <em>An Overview of the Graph Database Paradigm - Breadcrumbs Project Report</em>, CRACS/INESC TEC, Faculdade de Ciências da Universidade do Porto, Porto, Portugal.</p>
					</td>
				</tr>
				<tr>
					<td> </td>
					<td>
						<p class="ref">Devezas, J., S. Nunes, and C. Ribeiro (2011). <em>Overlapping Community Detection - Labs SAPO/UP Report</em>, Laboratório SAPO/U.Porto, Universidade do Porto, Porto, Portugal.</p>
					</td>
				</tr>
			</table>

			<h2>Unpublished Work</h2>

			<table class="bibliography">
				<tr>
					<td> <a href="publications/devezas-state_of_the_art-community_driven_music_discovery-unpublished.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J. (2013). A State of the Art for Community-Driven Music Discovery.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-music_listening_behavior-unpublished.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J. and S. Nunes (2013). Using Visualization Techniques to Characterize Music Listening Behavior.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-juggle_mobile-unpublished.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J. and S. Nunes (2013). Juggle Mobile: Recommending Music to Individuals and Groups.</p>
					</td>
				</tr>
				<tr>
					<td> <a href="publications/devezas-music_discovery_tfidf_boost_long_tail_tags-unpublished.pdf" target="_blank">
							<img src="img/pdf.png"/></a> </td>
					<td>
						<p class="ref">Devezas, J., F. Coelho, S. Nunes, and C. Ribeiro (2013). Music Discovery: Exploiting TF-IDF to Boost Results in the Long Tail of the Tags Distribution.</p>
					</td>
				</tr>
			</table>
		</section>


		<section>
			<h1 id="presentations">Presentations</h1><hr/>

			<h2>Talks</h2>

			<div class="presentation">
				<a href="presentations/devezas-graph_based_entity_oriented_search_a_unified_framework_in_information_retrieval-ecir_2020-presentation.pdf"
					title="Graph-Based Entity-Oriented Search: A Unified Framework in Information Retrieval" target="_blank">
					<img class="photo"
						src="img/devezas-graph_based_entity_oriented_search_a_unified_framework_in_information_retrieval-ecir_2020-presentation-thumb.png" /></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-ant_the_system_architecture_of_an_academic_search_engine-ASSO_1920.pdf"
					title="ANT - The System Architecture of an Academic Search Engine" target="_blank">
					<img class="photo" src="img/devezas-ant_the_system_architecture_of_an_academic_search_engine-ASSO_1920-thumb.png" /></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-graph_of_entity-SLATE2019-presentation.pdf"
					title="Graph-of-Entity: A Model for Combined Data Representation and Retrieval" target="_blank">
					<img class="photo"
						src="img/devezas-graph_of_entity-SLATE2019-presentation-thumb.png" /></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-mapping_terms_and_entities_with_hypergraphs-CreativeCoLAB2019-presentation.pdf"
					title="Mapping Terms and Entities with Hypergraphs" target="_blank">
					<img class="photo" src="img/devezas-mapping_terms_and_entities_with_hypergraphs-CreativeCoLAB2019-presentation-thumb.png"/></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-ant_searching_for_information_at_the_university_of_porto-DAPI_1819-en.pdf"
					title="ANT - Searching for Information at the University of Porto" target="_blank">
					<img class="photo"
						src="img/devezas-ant_searching_for_information_at_the_university_of_porto-DAPI_1819-en-thumb.png"></a>
				<div class="presentation-language">
					<a href="presentations/devezas-ant_searching_for_information_at_the_university_of_porto-DAPI_1819-en.pdf"
						title="ANT - Searching for Information at the University of Porto" target="_blank">EN</a> |
					<a href="presentations/devezas-ant_pesquisa_de_informação_na_universidade_do_porto-DAPI_1819-pt.pdf"
						title="ANT - Pesquisa de Informação na Universidade do Porto" target="_blank">PT</a>
				</div>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-ant_rd_platform_for_entity_oriented_search-IEEESYP2018-presentation.pdf"
					title="ANT - R&D Platform for Entity-Oriented Search" target="_blank">
					<img class="photo" src="img/devezas-ant_rd_platform_for_entity_oriented_search-IEEESYP2018-presentation-thumb.png"/></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-information_extraction_for_event_ranking-SLATE2017-presentation.pdf"
					title="Information Extraction for Event Ranking" target="_blank">
					<img class="photo" src="img/devezas-information_extraction_for_event_ranking-SLATE2017-presentation-thumb.png"/></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-juggle-presentation.pdf"
					title="Juggle: Hybrid Large-Scale Music Recommendation" target="_blank">
					<img class="photo" src="img/devezas-juggle-presentation-thumb.png"/></a>
			</div>

			<br>

			<div class="presentation">
				<a href="presentations/devezas-interactive_visualization_news_clips_network-KDIR2012-presentation.pdf" target="_blank"
					title="Interactive Visualization of a News Clips Network: A Journalistic Research and Knowledge Discovery Tool">
					<img class="photo" src="img/devezas-interactive_visualization_news_clips_network-KDIR2012-presentation-thumb.png"/></a>
			</div>

			<div class="presentation">
				<iframe webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""
					allow="autoplay; fullscreen"
					src="https://prezi.com/embed/kpjwdizporee/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE43MHdLNWpsdFJLb2ZHanI0cmloT1pBR2loUDhjR0RFRjIvMVFKTDZnPT0&amp;landing_sign=b_VdUGUl7rOric3Ydze_nImgdq44HwmDEXikjSnS76A"
					width="250" height="186" frameborder="0"></iframe>
			</div>

			<h2>Posters</h2>

			<div class="presentation">
				<a href="presentations/devezas-characterizing_the_hypergraph_of_entity_representation_model-CNA2019-poster.pdf"
					target="_blank" title="Characterizing the Hypergraph-of-Entity Representation Model">
					<img class="photo"
						src="img/devezas-characterizing_the_hypergraph_of_entity_representation_model-CNA2019-poster.png" /></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-index_based_semantic_tagging_for_efficient_query_interpretation-CLEF2016-poster.pdf" target="_blank"
					title="Index-Based Semantic Tagging for Efficient Query Interpretation">
					<img class="photo" src="img/devezas-index_based_semantic_tagging_for_efficient_query_interpretation-CLEF2016-poster.png"/></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-using_hindex_estimate_blog_authority-ICWSM2011-poster.pdf" target="_blank"
					title="Using the H-index to Estimate Blog Authority">
					<img class="photo" src="img/devezas-using_hindex_estimate_blog_authority-ICWSM2011-poster.png"/></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-blog_features_over_link_popularity-SOMA2010-poster.pdf" target="_blank"
					title="Studying Blog Features over Link Popularity">
					<img class="photo" src="img/devezas-blog_features_over_link_popularity-SOMA2010-poster.png"/></a>
			</div>

			<h2>Master's Thesis</h2>

			<div class="presentation">
				<a href="presentations/devezas-linkecosystem-presentation.pdf" target="_blank"
					title="Ecossistema de Ligações da Blogosfera Portuguesa">
					<img class="photo" src="img/devezas-linkecosystem-presentation-thumb.png"/></a>
			</div>

			<h2>Demonstrations</h2>

			<div class="presentation">
				<a href="presentations/devezas-labs-sapo-up-juggle-presentation.pdf" target="_blank"
					title="Juggle &#8212; Hybrid large-scale music recommendation">
					<img class="photo" src="img/devezas-labs-sapo-up-juggle-presentation-thumb.png"/></a>
			</div>

			<div class="presentation">
				<a href="presentations/devezas-labs-sapo-up-ciclope-presentation.pdf" target="_blank"
					title="Ciclope - Monitorização de tráfego em tempo real">
					<img class="photo" src="img/devezas-labs-sapo-up-ciclope-presentation-thumb.png"/></a>
			</div>

			<iframe width="250" height="140" src="https://www.youtube-nocookie.com/embed/uDhfL_UvF_Y" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=></iframe>

			<iframe width="250" height="140" src="https://www.youtube-nocookie.com/embed/-o4sZp6lH9o" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</section>


		<section>
			<h1 id="projects">Projects</h1><hr/>

			<p>As a researcher of Laboratório SAPO/U.Porto, in the course of the yearly period from June 2010 to June 2011, I was able to work on two main projects and participate in an information retrieval contest. From November 2011 to November 2012, I worked on the Breadcrumbs Project, researching and implementing several algorithms for community detection, topic modeling, event detection and text mining and search. I also developed two visualization tools  display and explore the produced results. From December 2012 to November 2013, I went back to Laboratório SAPO/U.Porto to work on music information retrieval and recommender systems. I worked on the Juggle project, for music discovery and location-based recommendation to groups.</p>

			<h2>Juggle</h2>

			<p>Juggle project aimed at improving music discovery based on a hybrid large-scale recommender system, capable of handling and combining different types of data, namely text and audio content, context from elements such as tags or location, and collaborative information from user profiles.</p>

			<p>We tackled the challenges of multimodality and large-scale by developing a graph-based recommender system, supported on Neo4j, a popular and robust graph database that facilitated the modeling of content, context and collaborative information as nodes and edges in a graph. One of the biggest challenges was the translation of audio content to relationships in a graph, specifically the comparison of the audio features of a million songs with each other, which we solved by using an approximate search algorithm from image retrieval.</p>

			<p>Our recommendation algorithm was mainly supported on neighborhood methods for collaborative filtering, but we also used metrics from text retrieval to boost the relevance of tags in the long tail, while not completely disregarding tag popularity, in order to offer a playlist that better potentiated the discovery of music.</p>

			<div id="juggle-carousel" class="carousel slide" ng-controller="JuggleCtrl">
				<div class="carousel-inner">
					<div class="item" ng-class="{active: $index == 0}" ng-repeat="screenshot in screenshots">
						<img src="img/{{screenshot}}.png" alt="{{screenshot}}"/>
					</div>
				</div>

				<a class="left carousel-control" href="#juggle-carousel" data-slide="prev">
					<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#juggle-carousel" data-slide="next">
					<span class="icon-next"></span>
				</a>
			</div>

			<h2>Juggle Mobile</h2>

			<p><a href="http://irlab.fe.up.pt/p/juggle/m/" target="_blank">Juggle Mobile</a> was developed as a new branch of the Juggle project and, while the name indicates that it works in mobile devices, since we've decided to build it using responsive design, it was also made available in the PC, as a web application. Juggle Mobile aimed at delivering an artist-based experience to mobile devices, using both individual and group-based discovery of artists through their biographies.</p>

			<p>In Juggle Mobile we provide the users with the ability to create an account and fill their taste profiles either based on our random artist rating system, or by importing their existing music information from Facebook or Last.fm. All the data from these different sources is mixed together with our weighting model and used to provide recommendations to the user or to a group of nearby users.</p>

			<p>Our experiments were based on a linear algebra approach, where, instead of a graph, we used a user-items matrix, applying singular value decomposition to build a latent factor model that provided the support for individual and group recommendations. For groups, we proposed a rating aggregation method that ensured an equal chance for every group member to have a relevant influence in the recommendations outcome.</p>

			<div id="jugglemobile-carousel" class="carousel slide" ng-controller="JuggleMobileCtrl">
				<div class="carousel-inner">
					<div class="item" ng-class="{active: $index == 0}" ng-repeat="screenshot in screenshots">
						<img src="img/{{screenshot}}.png" alt="{{screenshot}}" style="margin: auto" />
					</div>
				</div>

				<a class="left carousel-control" href="#jugglemobile-carousel" data-slide="prev">
					<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#jugglemobile-carousel" data-slide="next">
					<span class="icon-next"></span>
				</a>
			</div>


			<h2>Breadcrumbs</h2>
			<p>As a Breadcrumbs researcher, I was able to make contributions on several different areas. I implemented a language-independent named entity recognition system based on DBpedia entity lists. This system enabled the identification of three different types of entities &#8212; people, places and dates &#8212; tied to three of the five dimensions (the Five-Ws) of journalism: <em>who</em>, <em>where</em> and <em>when</em>. Using this data, a multidimensional entity coreference network was built, connecting news clips that cited the same entity. Next, I implemented the community detection methodologies for multidimensional networks proposed by Tang <em>et al.</em>. This included the dimension integration strategies proposed by the authors, based on their unified view of four traditional community detection methodologies. These algorithms were also implemented in the system, along with the Louvain method, one of the state of the art algorithms for community detection.</p>

			<p>Next, two visualization tools were developed to display and explore the acquired data. The first was analogous to a map, where communities were visualized as countries resulting of the aggregation of a node population. The second enabled the exploration of the multidimensional network based on the three identified dimensions: <em>who</em>, <em>where</em> and <em>when</em>. Some simple chart visualizations were created to display statistics about the top user and system tags and entities.</p>

			<p>We used a topic model, based on Latent Dirichlet Allocation, to suggest titles for each collection of news clips; a simplistic event detection system was also created, in order to find relevant peaks of activity in a time series of entity frequencies. Some other trivial systems, such as an administration panel, capable of scheduling tasks, and a widget dashboard were also implemented.</p>

			<p>These algorithms were all developed using a web services architecture, communicating using either XML or JSON. Several scientific papers were published as the results of the described research. Below are some screenshots of the Breadcrumbs modules I contributed to in some way.</p>

			<div id="breadcrumbs-carousel" class="carousel slide" ng-controller="BreadcrumbsCtrl">
				<div class="carousel-inner">
					<div class="item" ng-class="{active: $index == 0}" ng-repeat="screenshot in screenshots">
						<img src="img/{{screenshot}}.png" alt="{{screenshot}}"/>
					</div>
				</div>

				<a class="left carousel-control" href="#breadcrumbs-carousel" data-slide="prev">
					<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#breadcrumbs-carousel" data-slide="next">
					<span class="icon-next"></span>
				</a>
			</div>

			<h2>Ciclope</h2>

			<p>From June 2010 to December 2010, I worked on Ciclope, a real-time data visualization project aimed at gathering information from SAPO Blogs clickstream and displaying it in a useful way, allowing the blog owner to have an understanding of how the traffic flow of his or her blog behaves.</p>

			<div id="ciclope-carousel" class="carousel slide" ng-controller="CiclopeCtrl">
				<div class="carousel-inner">
					<div class="item" ng-class="{active: $index == 0}" ng-repeat="screenshot in screenshots">
						<img src="img/{{screenshot}}.png" alt="{{screenshot}}"/>
					</div>
				</div>

				<a class="left carousel-control" href="#ciclope-carousel" data-slide="prev">
					<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#ciclope-carousel" data-slide="next">
					<span class="icon-next"></span>
				</a>
			</div>

			<h2>Unite</h2>

			<p>From January 2011 to June 2011, I focused on graph mining and community detection. As part of my work, I developed <a href="http://labs.sapo.pt/~projects/Unite" target="_blank">Unite</a>, a Java library with the goal to provide an agile platform for link extraction and graph mining. Unite was built with out-of-the-box support for the most common graph building use cases, providing at the same time an extensible and highly modular interface that allows developers to adapt the framework to their own needs. Below is an example of how to read content from a MySQL database, parse it and write the resulting graph to a Blueprints-enabled graph database &#8212; in this case, <a href="http://neo4j.com" target="_blank">Neo4j</a>.</p>

			<div hljs="" include="'unite.java'"></div>

			<h2>TREC 2010 Blog Track</h2>

			<p>In 2010, I was presented with the opportunity to participate in the Blog Track for the <a href="http://trec.nist.gov" target="_blank">Text REtrieval Conference</a>. TREC is an information retrieval conference that holds several competitive tracks every year, providing their own datasets (at a price) together with human assessment for the relevance of each resource, given the search topics of the competition. This allows the participants to calculate metrics such as the mean average precision in order to evaluate their retrieval system. For a novice in the area, the experience gained through TREC's participation is immense.</p>

			<p>Our work focused on using some of the structural properties of the blog graph as query-independent features for the blog distillation process. Specifically, we ranked each blog according to the in-degree and then compared it to the rank according to the <a href="http://en.wikipedia.org/wiki/H-index" target="_blank">h-index</a> (a metric commonly used in bibliometrics to measure the scientific output of a researcher). We then introduced a weighted and normalized value, for each of these link-based metrics, in the final document score, obtaining result improvements for the h-index, but not the in-degree.</p>

			<p>During the participation in TREC 2010 Blog Track, I acquired competences in the tasks of link extraction, graph mining and blog distillation, additionally learning about large scale methodologies for indexing, searching and parsing large-scale collections.</p>
		</section>
	</div>
</div>
