{{ $bib := index $.Site.Data.academy.publications (index $.Params 0) }}

{{ range $bib }}
   <div class="publication">
    {{ if .note }}
      <a href="/pdf/academy/publications/{{ index $.Params 0 }}/{{ replace .note "\\" "" }}.pdf" target="_blank">
    {{ else if .URL }}
      <a href="{{ .URL }}" target="_blank">
    {{ else if .DOI }}
      <a href="https://doi.org/{{ replace .DOI "\\" "" }}" target="_blank">
    {{ end }}
      {{ $authors := .author }}
      {{ range $idx, $elem := $authors }}
        {{ if (eq $idx 0) }}
          {{ $elem.family }}, {{ $elem.given }}{{ else }}
          {{ $elem.given }} {{ $elem.family }}{{ end }}{{

        if (and (ge $idx 0) (lt $idx (add (len $authors) -2))) }},{{
          else if (eq $idx (add (len $authors) -2)) }}, and {{
          else if (eq $idx (add (len $authors) -1)) }}.
        {{ end }}
      {{ end }}

      <span class="title">&ldquo;{{ replace (.title) "\\" "" | title }}&rdquo;</span>{{ if (index . "container-title") }}.{{ end }}

      <em>{{ replace (index . "container-title") "\\" "" | title }}</em>{{
        if .volume }} {{ .volume }}{{ end }}{{
        if .issue }}.{{ .issue }}{{ end }}

      ({{ (index (index (index .issued "date-parts") 0) 0) }}){{
        if .page }}: {{ .page }}{{ end }}
    </a>
  </div>
{{ end }}
